@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Global styles */

html {
    background-color: rgb(51, 46, 54);
    min-height: 100vh;
  }
  
  body {
    background-color: rgb(51, 46, 54);
    font-family: "Montserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: rgb(227, 210, 231);
    
  }

  nav {
    display: flex;
    align-items: center;
    gap: 40px;
    height: 50px;
    margin: 5px 30px 50px 30px;

  }

  #le-bookin {
    margin-right: auto;
  }

  .book-title {
    font-size: 100px;
    font-style: normal;
    font-weight: 600;
  }

  .login-title .register-title {
    font-size: 30px;
  }

  h2 {
    font-weight: 500;
    color: #FFD0CA;
  }

  #home-container {
    margin: 80px 0 0 80px;
    display: flex;
    gap: 120px;
  }

  #login-container {
    display: flex;
    gap: 130px;
  }

  #register-container {
    display: flex;
    gap: 200px;
  }

  #container-form {
  font-family: "Montserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #F7E9D1 0.1px solid;
}

.container-form-login {
  margin: 150px;
  width: 350px;
  height: 350px;
}

.container-form-register {
    margin: 100px 0 0 150px;
    width: 350px;
    height: 440px;  
}

#signin-form, #signup-form {
    padding: 20px 20px;
    text-align: center;
}



  label {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    width: 80%;

  }

  input{
  color: rgb(71, 51, 71);
  font-size: 14px;
  width: 90%;
  height: 30px;
  border: 0px solid transparent;
  border-radius: 10px;
  padding: 6px;
  margin: 15px 0 15px 0;
}

#search-books {
  border-radius: 10px 0 0 10px;
  height: 35px;
}

#inventory-book {
  font-size: 14px;
  width: 100%;
  height: 35px;
  padding: 6px;
  margin: 10px 0 10px 0;
  border-radius: 10px;
  color: rgb(71, 51, 71);
}

a {
 text-decoration: none;
 color: rgb(227, 210, 231);
 font-weight: 500;
}

a:hover {
  text-decoration: none;
  color: #FFD0CA;
}


  .up {
    font-size: 70px;
    font-weight: 500;
    font-style: normal;
    color: #B7C9E1;
  }

  .link-home {
    font-family: "Montserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500; 
    padding: 7px 12px;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    background-color: #B7C9E1;
    color: rgb(71, 51, 71);
  }

  button:hover {
    background-color: #8dadd6;
  }

  #btn-login, #btn-register {
    font-family: "Montserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(71, 51, 71);
    font-weight: 500;
    background-color: #B7C9E1;
    padding: 6px 20px;
    width: 60%;
    border-radius: 10px;
    border: none;
    }

  #btn-login {
    margin-top: 5px;
    }

  #btn-switch {
    width: 10%;
    padding: 6px 20px;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    background-color: #B7C9E1;
    color: rgb(71, 51, 71);
  }

  #btns-switch {
    text-align: center;
  }
  
  #btn-search {
    width: 10%;
    border-radius: 0 10px 10px 0;
    border: none;
    font-size: 14px;
    font-weight: 500;
    background-color: #B7C9E1;
    color: rgb(71, 51, 71);
    margin: 15px 0 15px 0;
    padding: 6px;
  }

  #register {
    margin-right: 10px;
  }

  .no-account, .account {
    font-size: 12px;
    text-align: center;
  }

  .no-account {
    margin-top: 15px;
  }

  .img {
    margin-top: 70px;
  }

  .img-login {
    margin-top: 150px;
  }

  .img-register {
    margin-top: 150px;
  }

  .invitation-code{
    font-size: 14px;
    font-weight: 600;
  }

  .search {
    display: flex;
    margin: 0 0 20px 0;
  }

  #book-table {
    min-height: 40vh;
  }