@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Global styles */

html {
    background-color: rgb(42, 9, 72);
    min-height: 100vh;
  }
  
  body {
    font-family: "Montserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: rgb(227, 210, 231);
    
  }

  .book-title {
    font-size: 100px;
    font-style: normal;
    font-weight: 600;
  }

  .login-title .register-title {
    font-size: 30px;
  }

  h2 {
    font-weight: 500;
    color: rgb(168, 82, 168);
  }

  #home-container {
    margin: 80px 0 0 80px;
    display: flex;
    gap: 120px;
  }

  #login-container {
    display: flex;
    gap: 160px;
  }

  #register-container {
    display: flex;
    gap: 250px;
  }

  #container-form {
  font-family: "Montserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #F7E9D1 0.1px solid;
}

.container-form-login {
  margin: 150px;
  width: 350px;
  height: 350px;
}

.container-form-register {
    margin: 100px 0 0 150px;
    width: 350px;
    height: 440px;  
}

#signin-form, #signup-form {
    padding: 20px 20px;
}



  label {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    width: 80%;

  }

  input{
  width: 90%;
  height: 30px;
  border: 0px solid transparent;
  border-radius: 10px;
  padding: 0 10px;
  margin: 15px 0 15px 0;

  }


  .up {
    font-size: 70px;
    font-weight: 500;
    font-style: normal;
    color: #F7E9D1;
  }

  .link-home {
    font-family: "Montserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500; 
    padding: 6px 12px;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    background-color: #F7E9D1;
    color: rgb(168, 82, 168);
  }

  #btn-login, #btn-register {
    font-family: "Montserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(227, 210, 231);
    font-weight: 500;
    background-color: rgb(168, 82, 168);
    margin: 10px 0 15px 90px;
    padding: 6px 20px;
    border-radius: 10px;
    border: none;
    
  }

  #register {
    margin-right: 10px;
  }

  .no-account, .account {
    font-size: 12px;
    text-align: center;
  }

  .img {
    margin-top: 70px;
  }

  .img-login {
    margin-top: 150px;
  }

  .img-register {
    margin-top: 150px;
  }

  .invitation-code{
    font-size: 14px;
    font-weight: 600;
  }